
*.session
test-build/start.bat
test-build/test-build.7z
test-build/test.py
*.sqlite
.vs/ProjectSettings.json
.vs/github-content/v16/.suo
testName.session-journal
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
DTS/__pycache__/__init__.cpython-38.pyc
DTS/__pycache__/verify.cpython-38.pyc
UI/__pycache__/__init__.cpython-38.pyc
config.data
